<div class="section">
    <section>
        <div class="row">
            <div class="col col--medium-8 col--medium-offset-2">
                {{bioInclude 'components/accordion/accordion'}}
            </div>
        </div>
    </section>
</div>