<div class="accordion" data-resources="[{paths: ['components/accordion/scss/accordion.css', 'components/accordion/js/jQuery.accordion.js']} ] "
    data-init="(function($elm) {$elm.accordion(); })">
    <div class="accordion__buttonAndTextWrapper">
        <button class="accordion__button">Open me please</button>
        <p class="accordion__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias similique odio
            eius officiis numquam
            voluptates excepturi eveniet cum ut corrupti, iure fugit obcaecati, alias nulla reiciendis ipsam suscipit,
            ullam doloremque!</p>
    </div>

    <div class="accordion__buttonAndTextWrapper">
        <button class="accordion__button">Open me please</button>
        <p class="accordion__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias similique odio
            eius officiis numquam
            voluptates excepturi eveniet cum ut corrupti, iure fugit obcaecati, alias nulla reiciendis ipsam suscipit,
            ullam doloremque!</p>
    </div>

    <div class="accordion__buttonAndTextWrapper">
        <button class="accordion__button">Open me please</button>
        <p class="accordion__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias similique odio
            eius officiis numquam
            voluptates excepturi eveniet cum ut corrupti, iure fugit obcaecati, alias nulla reiciendis ipsam suscipit,
            ullam doloremque!</p>
    </div>

    <div class="accordion__buttonAndTextWrapper">
        <button class="accordion__button">Open me please</button>
        <p class="accordion__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias similique odio
            eius officiis numquam
            voluptates excepturi eveniet cum ut corrupti, iure fugit obcaecati, alias nulla reiciendis ipsam suscipit,
            ullam doloremque!</p>
    </div>

    <div class="accordion__buttonAndTextWrapper">
        <button class="accordion__button">Open me please</button>
        <p class="accordion__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias similique odio
            eius officiis numquam
            voluptates excepturi eveniet cum ut corrupti, iure fugit obcaecati, alias nulla reiciendis ipsam suscipit,
            ullam doloremque!</p>
    </div>
</div>